vyshufirstsynapse/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "vyshufirstsynapse"
		},
		"AzureDataLakeStorage1test_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1test'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"BuilappPROD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BuilappPROD'"
		},
		"BuilappPRODreplica_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BuilappPRODreplica'"
		},
		"BuildappPowerBiDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BuildappPowerBiDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=bieno-df-qa-sqlsrv-01.database.windows.net;Initial Catalog=BuildappSqlDB"
		},
		"LS_AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureBlobStorage'"
		},
		"LS_AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureSqlDatabase'"
		},
		"Sftp1_privateKeyContent": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKeyContent' of 'Sftp1'"
		},
		"Sftp1_passPhrase": {
			"type": "secureString",
			"metadata": "Secure string for 'passPhrase' of 'Sftp1'"
		},
		"SftpConnexion_privateKeyContent": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKeyContent' of 'SftpConnexion'"
		},
		"SftpConnexion_passPhrase": {
			"type": "secureString",
			"metadata": "Secure string for 'passPhrase' of 'SftpConnexion'"
		},
		"vyshufirstsynapse-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'vyshufirstsynapse-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:vyshufirstsynapse.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"DS_AzureBlobStorage_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DS_AzureBlobStorage_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastage"
		},
		"DS_AzureSFTP_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "*.csv"
		},
		"DS_AzureSFTP_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "/extract-data"
		},
		"ADB_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://',linkedService().storage_account_name,'.dfs.core.windows.net')}"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://vyshusecondstorage.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage1test_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://rflazudwdev.dfs.core.windows.net/"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hgubjjhb.vault.azure.net/"
		},
		"AzureKeyVault2_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://vyshuakv.vault.azure.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "vyshusecondserver.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "seconddb"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Vaishudeshoju"
		},
		"AzureSynapseAnalyticstest_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "synapsetest-secret"
		},
		"DB_Automation_10_20_30_95_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "RFS-UAM-DB-Automation-Secret"
		},
		"RFS_Datafactory_Test_AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://RFS-Datafactory-Test-AKV.vault.azure.net/"
		},
		"Sftp1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "vyshusecondstorage.blob.core.windows.net"
		},
		"Sftp1_properties_typeProperties_hostKeyFingerprint": {
			"type": "string",
			"defaultValue": "ecdsa-sha2-nistp256 256 a7:21:cb:e0:29:e1:c9:05:0b:ba:a6:bb:3e:04:72:22"
		},
		"Sftp1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vyshusecondstorage.adfdemo2.vyshu"
		},
		"SftpConnexion_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "65.52.141.113"
		},
		"SftpConnexion_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "afsSftp"
		},
		"ls_pmcs_akv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvasgrassdevaz1taznv102.vault.azure.net/"
		},
		"testrepro123_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "testrepro"
		},
		"vyshufirstsynapse-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://vyshusecondstorage.dfs.core.windows.net"
		},
		"10-20-30-95-TEST-IR_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/04b51b78-7c1c-4798-9385-99f485d3e5ce/resourcegroups/RBLFINSERVE-DATAWAREHOUSE-PRD/providers/Microsoft.DataFactory/factories/rblprddatafactory/integrationruntimes/10-20-30-95-IR-new"
		},
		"integrationRuntime1_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/eb6eb6b8-2768-4bee-bf31-23e931432323/resourcegroups/TestEnvironment/providers/Microsoft.DataFactory/factories/Vaishnavitestadf/integrationruntimes/SHIRtest"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/0_Import_Data_AFS')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "P_AFS2AZURE_IMPORT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_AFS2AZURE_IMPORT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_AFS2AZURE_IMPORT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-12-17T09:45:02Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/0_Import_Data_CEY')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "P_CEY2AZURE_IMPORT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_CEY2AZURE_IMPORT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_CEY2AZURE_IMPORT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-09T09:50:55Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/0_Import_Data_DTS')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "P_DTS2AZURE_IMPORT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_DTS2AZURE_IMPORT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_DTS2AZURE_IMPORT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-12-17T09:45:01Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/0_Import_Data_RLR')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "P_RLR2AZURE_IMPORT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_RLR2AZURE_IMPORT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_RLR2AZURE_IMPORT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-12-17T09:45:01Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_Import_Data_Budget')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_DTS2AZURE_IMPORT_BUDGET",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_DTS2AZURE_IMPORT_BUDGET]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_DTS2AZURE_IMPORT_BUDGET",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:21:21Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_Import_Data_Calendar')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_DTS2AZURE_IMPORT_CALENDAR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_DTS2AZURE_IMPORT_CALENDAR]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_DTS2AZURE_IMPORT_CALENDAR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:21:21Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_Import_Data_SellOut')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_DTS2AZURE_IMPORT_SELLOUT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_DTS2AZURE_IMPORT_SELLOUT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_DTS2AZURE_IMPORT_SELLOUT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:21:21Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_Import_Data_Stock')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_DTS2AZURE_IMPORT_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[uhost].[P_DTS2AZURE_IMPORT_STOCK]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_DTS2AZURE_IMPORT_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:21:21Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_AFS')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AFS_PROCESS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AFS_PROCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AFS_PROCESS]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:55:12Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_Budget')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_FAITS_BUDGET",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_FAITS_BUDGET",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[P_FAITS_BUDGET]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:56:00Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_CEY')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CEY_PROCESS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CEY_PROCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[CEY_PROCESS]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_RLR')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RLR_PROCESS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "RLR_PROCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[RLR_PROCESS]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:33:46Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_SellIn')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_FAITS_SELL_IN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_FAITS_SELL_IN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[P_FAITS_SELL_IN]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:57:30Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_SellOut')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_FAITS_SELL_OUT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_FAITS_SELL_OUT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[P_FAITS_SELL_OUT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:58:14Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_SellOut_RLR')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_RLR_FAITS_SELLOUT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_RLR_FAITS_SELLOUT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[P_RLR_FAITS_SELLOUT]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T20:33:46Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_Process_Stock')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "P_FAITS_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "P_FAITS_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[P_FAITS_STOCK]",
							"storedProcedureParameters": {
								"DT_OPE": {
									"value": {
										"value": "@pipeline().parameters.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"UPROC": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID": {
						"type": "int"
					},
					"DT_OPE": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-07-08T19:58:56Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_RALoyalty_RefreshCube')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "RA_LogicApp_PPROD",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-66.westeurope.logic.azure.com:443/workflows/10f1fcbc578947a89029ee86bcb0e353/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ohGDKA9fIQjZnHR6F7ea6Mb3_gvL3MNa7S-PpdEgkjA",
							"body": {
								"CommitMode": "transactional",
								"MaxParallelism": 10,
								"RetryCount": 2,
								"Type": "Full"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-02-25T10:50:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_Refresh_AFS_TabularCube_PowerBI_Clinic')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "AFS_LogicApp_Clinic",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-18.westeurope.logic.azure.com:443/workflows/13b2531280db4d4bbd7abf0bc9859f26/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=bFEPmTSJS1GzV0FVPmCuBOQcKvHCUOLfy5-zOi9sLtg",
							"body": {
								"CommitMode": "transactional",
								"MaxParallelism": 10,
								"RetryCount": 2,
								"Type": "Full"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-20T13:06:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_Refresh_Hub_External_Ranking_Tool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Hub-External-Ranking-Tool",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-42.westeurope.logic.azure.com:443/workflows/c097cf017ba54592b5035b00959eb6ad/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HqH70unFbfLGMmKini6wyKGfdR2OtQQS7rApXcWewCc",
							"body": {
								"CommitMode": "transactional",
								"MaxParallelism": 10,
								"RetryCount": 2,
								"Type": "Full"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-04T13:03:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/4_Process_Full')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "0_Import_Data_DTS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AZURE_trace_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0_Import_Data_DTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "1_Import_Data_Calendar",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1_Import_Data_SellIn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_Import_Data_Calendar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_SellIn",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_SellIn",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_SellOut",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_SellOut",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_AFS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1_Import_Data_Budget",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "1_Import_Data_Calendar",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "1_Import_Data_Stock",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "1_Import_Data_SellOut",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_AFS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_Stock",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_Stock",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_CEY",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_SellIn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_CEY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Lookup_NewTrace",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[dbo].[AZURE_NewTrace]",
								"storedProcedureParameters": {
									"UPROC": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSqlDatabase",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "AZURE_trace_START",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup_NewTrace",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "Start process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AZURE_trace_END_SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "2_Process_Stock",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "2_Process_SellOut",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "2_Process_CEY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "2_Process_Budget",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End of SQL process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "2_Process_Budget",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_Budget",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "1_Import_Data_SellOut",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "0_Import_Data_DTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_Import_Data_SellOut",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "1_Import_Data_Stock",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1_Import_Data_SellIn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_Import_Data_Stock",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "1_Import_Data_SellIn",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "0_Import_Data_AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "0_Import_Data_CEY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "1_Import_Data_Budget",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1_Import_Data_SellIn",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "1_Import_Data_Budget",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_RLR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "1_Import_Data_SellOut",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "0_Import_Data_RLR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_RLR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2_Process_SellOut_RLR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_RLR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2_Process_SellOut_RLR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "3_RALoyalty_RefreshCube",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2_Process_SellOut_RLR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3_RALoyalty_RefreshCube",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AZURE_trace_END_RLR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "3_RALoyalty_RefreshCube",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End of RLR process",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "3_Refresh_AFS_TabularCube_PowerBI_Clinic",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AZURE_trace_END_SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3_Refresh_AFS_TabularCube_PowerBI_Clinic",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AZURE_trace_END",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "3_Refresh_AFS_TabularCube_PowerBI_Clinic",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[AZURE_trace]",
							"storedProcedureParameters": {
								"COMMENTAIRE": {
									"value": "End process Buce",
									"type": "String"
								},
								"DT_DEBUT": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"DT_OPE": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"NB_LIG_ERR": {
									"value": "0",
									"type": "Int32"
								},
								"UPROC": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "0_Import_Data_RLR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "0_Import_Data_DTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0_Import_Data_RLR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "0_Import_Data_CEY",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "0_Import_Data_DTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0_Import_Data_CEY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "0_Import_Data_AFS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "0_Import_Data_DTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0_Import_Data_AFS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.ID",
									"type": "Expression"
								},
								"DT_OPE": {
									"value": "@activity('Lookup_NewTrace').output.firstRow.DT_OPE",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "3_Refresh_Hub_External_Ranking_Tool",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AZURE_trace_END_SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3_Refresh_Hub_External_Ranking_Tool",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-04T13:09:08Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/0_Import_Data_DTS')]",
				"[concat(variables('workspaceId'), '/pipelines/1_Import_Data_Calendar')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_SellIn')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_SellOut')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_AFS')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_Stock')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_CEY')]",
				"[concat(variables('workspaceId'), '/datasets/DS_AzureSqlDatabase')]",
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureSqlDatabase')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_Budget')]",
				"[concat(variables('workspaceId'), '/pipelines/1_Import_Data_SellOut')]",
				"[concat(variables('workspaceId'), '/pipelines/1_Import_Data_Stock')]",
				"[concat(variables('workspaceId'), '/pipelines/1_Import_Data_Budget')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_RLR')]",
				"[concat(variables('workspaceId'), '/pipelines/2_Process_SellOut_RLR')]",
				"[concat(variables('workspaceId'), '/pipelines/3_RALoyalty_RefreshCube')]",
				"[concat(variables('workspaceId'), '/pipelines/3_Refresh_AFS_TabularCube_PowerBI_Clinic')]",
				"[concat(variables('workspaceId'), '/pipelines/0_Import_Data_RLR')]",
				"[concat(variables('workspaceId'), '/pipelines/0_Import_Data_CEY')]",
				"[concat(variables('workspaceId'), '/pipelines/0_Import_Data_AFS')]",
				"[concat(variables('workspaceId'), '/pipelines/3_Refresh_Hub_External_Ranking_Tool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/APIcalltorunotherADF')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/MCAPS-Support-REQ-115559-2025-v-shvaishnav/resourceGroups/TestEnvironment/providers/Microsoft.DataFactory/factories/Vyshnavifirstadf/pipelines/APIcalltorunfromotherADF/createRun?api-version=2018-06-01",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-12T14:13:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyDataFromSftpToDataLake')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_Data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "4_Process_Full",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "4_Process_Full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-17T06:49:35Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/Copy_Data')]",
				"[concat(variables('workspaceId'), '/pipelines/4_Process_Full')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Copy_Data')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "SFTP_TO_BLOBSTORAGE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "10:00:10",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true,
								"maxConcurrentConnections": 9
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-29T06:35:32Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_AzureSFTP')]",
				"[concat(variables('workspaceId'), '/datasets/DS_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CustomerLoanDisbursement_95_TO_Rawzone')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Year",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Year",
							"value": {
								"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC','India Standard Time'),-1),'yyyy')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Month",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Month",
							"value": {
								"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC','India Standard Time'), 0),'MMMM')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Day",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Day",
							"value": {
								"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC', 'India Standard Time'), 0),'dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "95_TO_Rawzone",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Year",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Month",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Day",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "95_SERVER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Fesibilitytest_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@concat('CustomerLoanDisbursementData/', variables('Year'), '/', variables('Month'), '/', variables('Day'), '/data.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Raw_TO_Synapse",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "95_TO_Rawzone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureDataLakeStorage1test",
									"type": "LinkedServiceReference"
								},
								"path": "fesibilitytest/util/test"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LoanAccountNumber",
											"type": "String"
										},
										"sink": {
											"name": "LoanAccountNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Fesibilitytest_Container",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@concat('CustomerLoanDisbursementData/', variables('Year'), '/', variables('Month'), '/', variables('Day'), '/data.csv')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSynapseAnalytics",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "Feasibilitytest",
									"TableName": "CustomerLoanDisbursement_Test"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Year": {
						"type": "String"
					},
					"Month": {
						"type": "String"
					},
					"Day": {
						"type": "String"
					},
					"Tables": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-24T13:24:22Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/95_SERVER')]",
				"[concat(variables('workspaceId'), '/datasets/Fesibilitytest_Container')]",
				"[concat(variables('workspaceId'), '/datasets/AzureSynapseAnalytics')]",
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1test')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pipeline1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-12T14:16:39Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pipeline2')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/v-shvaishnav@microsoft.com/Testnotebook"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-07-09T07:08:53Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pipeline3')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSqlDatabase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText2')]",
				"[concat(variables('workspaceId'), '/datasets/DS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pipeline4')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "0_Import_Data_CEY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "failed",
							"errorCode": "404"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/0_Import_Data_CEY')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pipeline5')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText3')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/95_SERVER')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Automation_10_20_30_95",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "LoanAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerNumber",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerLoanDisbursementData"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/DB_Automation_10_20_30_95')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSynapseAnalytics')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalyticstest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSynapseAnalyticstest')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Buildapp_Prod_MYSQLDB')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuilappPROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/BuilappPROD')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Buildapppowerbi_standar_calendar')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuilappPRODreplica",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "factory_id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "factory",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "calendar_id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "line_name",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "machine_name",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "machine_zone",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "task_tpye",
						"type": "char",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "user_name",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "minutes_duration",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "varchar",
						"precision": 0,
						"scale": 31
					},
					{
						"name": "is_critical",
						"type": "tinyint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scheduled_date",
						"type": "datetime",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scheduled_shift",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "completed_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "completed_comment",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "completed_shift",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "last_modified",
						"type": "datetime",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "powerbi_standar_calendar"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/BuilappPRODreplica')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_AzureBlobStorage')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('DS_AzureBlobStorage_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_AzureBlobStorage_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_AzureSFTP')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnexion",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DS_AzureSFTP_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_AzureSFTP_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/SftpConnexion')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_AzureSqlDatabase')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_employee"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee.csv",
						"folderPath": "Input",
						"fileSystem": "adfdemo2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "employee",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "lastloginUTC",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee.csv",
						"folderPath": "Input",
						"fileSystem": "adfdemo2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "employee",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "lastloginUTC",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText3')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee.csv",
						"folderPath": "Input",
						"fileSystem": "adfdemo2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Empid",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Fesibilitytest_Container')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1test",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"folderPath": "rawzone",
						"fileSystem": "fesibilitytest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureDataLakeStorage1test')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TRN_DS_BIN')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADB_ADLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"storage_account_name": {
							"value": "@dataset().lbu_storage_name",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"lbu_blob_folder": {
						"type": "string"
					},
					"lbu_blob_container": {
						"type": "string"
					},
					"lbu_storage_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().lbu_blob_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().lbu_blob_container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ADB_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Watermark_Buildapp_cloud')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuildappPowerBiDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TableName",
						"type": "varchar"
					},
					{
						"name": "WatermarkValue",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/BuildappPowerBiDB')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/powerbi_standar_calendarSql')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuildappPowerBiDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "factory_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "factory",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "line_name",
						"type": "nvarchar"
					},
					{
						"name": "machine_name",
						"type": "nvarchar"
					},
					{
						"name": "machine_zone",
						"type": "nvarchar"
					},
					{
						"name": "task_tpye",
						"type": "char"
					},
					{
						"name": "user_name",
						"type": "nvarchar"
					},
					{
						"name": "minutes_duration",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "is_critical",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "scheduled_date",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "scheduled_shift",
						"type": "nvarchar"
					},
					{
						"name": "completed_date",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "completed_comment",
						"type": "nvarchar"
					},
					{
						"name": "completed_shift",
						"type": "nvarchar"
					},
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "last_modified",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "calendar_id",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "`powerbi_standar_calendar`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/BuildappPowerBiDB')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADB_ADLS')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"storage_account_name": {
						"type": "string",
						"defaultValue": "stasgrassdevaz1taznv1002"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADB_ADLS_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADB_UAT2')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3157833405211586.6.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_pmcs_akv",
							"type": "LinkedServiceReference"
						},
						"secretName": "sva-all-rsit-svc-dbks"
					},
					"existingClusterId": "0311-065932-y8ne234v"
				},
				"connectVia": {
					"referenceName": "irt-taznv1-ifrs17cit",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/irt-taznv1-ifrs17cit')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_pmcs_akv')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1test')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1test_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1test_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "Private-endpoint-integration-runtime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/Private-endpoint-integration-runtime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDatabricks1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-904483172991668.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS4_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "10.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": [],
					"policyId": "0007A8B73B59F10B",
					"newClusterAttributes": {
						"firstOnDemand": 1,
						"availability": "SpotWithFallback",
						"spotBidMaxPrice": -1
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDatabricks2')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-904483172991668.8.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "tokenadf"
					},
					"newClusterNodeType": "Standard_DS4_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "10.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureKeyVault1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureKeyVault2')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault2_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSynapseAnalyticstest')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "RFS_Datafactory_Test_AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureSynapseAnalyticstest_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RFS_Datafactory_Test_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BuilappPROD')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('BuilappPROD_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BuilappPRODreplica')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('BuilappPRODreplica_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BuildappPowerBiDB')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BuildappPowerBiDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DB_Automation_10_20_30_95')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "RFS_Datafactory_Test_AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('DB_Automation_10_20_30_95_properties_typeProperties_connectionString_secretName')]",
						"secretVersion": "9cda52b9f9134b6da3416773d4a689b9"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "10-20-30-95-TEST-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/10-20-30-95-TEST-IR')]",
				"[concat(variables('workspaceId'), '/linkedServices/RFS_Datafactory_Test_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LS_AzureBlobStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LS_AzureSqlDatabase')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureSqlDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RFS_Datafactory_Test_AKV')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('RFS_Datafactory_Test_AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Sftp1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp1_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": false,
					"hostKeyFingerprint": "[parameters('Sftp1_properties_typeProperties_hostKeyFingerprint')]",
					"authenticationType": "SshPublicKey",
					"userName": "[parameters('Sftp1_properties_typeProperties_userName')]",
					"privateKeyContent": {
						"type": "SecureString",
						"value": "[parameters('Sftp1_privateKeyContent')]"
					},
					"passPhrase": {
						"type": "SecureString",
						"value": "[parameters('Sftp1_passPhrase')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SftpConnexion')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SftpConnexion_properties_typeProperties_host')]",
					"port": "22",
					"skipHostKeyValidation": true,
					"authenticationType": "SshPublicKey",
					"userName": "[parameters('SftpConnexion_properties_typeProperties_userName')]",
					"privateKeyContent": {
						"type": "SecureString",
						"value": "[parameters('SftpConnexion_privateKeyContent')]"
					},
					"passPhrase": {
						"type": "SecureString",
						"value": "[parameters('SftpConnexion_passPhrase')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_pmcs_akv')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_pmcs_akv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/testrepro123')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault2",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('testrepro123_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureKeyVault2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/vyshufirstsynapse-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('vyshufirstsynapse-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/vyshufirstsynapse-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('vyshufirstsynapse-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Buildapp_powerBI_1130PM_UTC')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-05-28T13:29:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Daily_Customer_Loan_Disbursement')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CustomerLoanDisbursement_95_TO_Rawzone",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-12-25T08:00:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/CustomerLoanDisbursement_95_TO_Rawzone')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Weekly Trigger')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "It triggers the 4 Flow pipeline every Tuesday.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyDataFromSftpToDataLake",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2022-05-17T06:41:00",
						"timeZone": "Romance Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							],
							"weekDays": [
								"Tuesday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/CopyDataFromSftpToDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/trigger1')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline4",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2025-09-25T05:45:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pipeline4')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/10-20-30-95-TEST-IR')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('10-20-30-95-TEST-IR_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/integrationRuntime1')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('integrationRuntime1_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Private-endpoint-integration-runtime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central India",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/firstshir')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/integrationRuntime2')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/irt-taznv1-ifrs17cit')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"description": "IFRS17 CIT Self-hosted IR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks",
			"apiVersion": "2019-06-01-preview",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/testrepro')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "testrepro",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://74df4cd0-d4a0-4627-b887-bf7e5c59e2d3@vyshusecondstorage.dfs.core.windows.net/testrepro",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "vyshufirstsynapse-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 1,
							"ObjectId": "84abf601-bf68-43d9-a675-0777a3830629"
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/vyshu123')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Medium",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.4",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "centralindia"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default/testrepro123')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"privateLinkResourceId": "/subscriptions/eb6eb6b8-2768-4bee-bf31-23e931432323/resourceGroups/TestEnvironment/providers/Microsoft.Storage/storageAccounts/vyshusecondstorage",
				"groupId": "dfs"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}