pipeline/CORE_PL_Get_Databricks_Job_Status.json
{
	"name": "CORE_PL_Get_Databricks_Job_Status",
	"properties": {
		"activities": [
			{
				"name": "Wait for Job Completion",
				"description": "",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Get Run ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('status'),'TERMINATED')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Latest Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ',variables('PAT'))",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat(pipeline().parameters.ADB_URL,'/api/2.0/jobs/runs/get?run_id=',activity('Get Run ID').output.runs[0].run_ID)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Latest Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@activity('Get Latest Status').output.state.life_cycle_state",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check if Running",
							"description": "If the job is not terminated yet, then wait for 2 minutes to check again",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(variables('status'),'TERMINATED'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set status variable",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "status",
											"value": "TERMINATED"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Wait",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 5
										}
									}
								]
							}
						},
						{
							"name": "Check if Failed",
							"description": "If the job is not terminated yet, then wait for 2 minutes to check again",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('status'),'INTERNAL_ERROR')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set status variable_value",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "status",
											"value": "TERMINATED"
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Get Run ID",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Store PAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',variables('PAT'))",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat(pipeline().parameters.ADB_URL,'/api/2.0/jobs/runs/list?job_id=',pipeline().parameters.Job_ID,'&limit=1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Failure Status - Force Fail",
				"description": "If Status is not \"SUCCESS\" then force fail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait for Job Completion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Latest Status').output.state.result_state,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Job failed",
								"errorCode": "0"
							}
						}
					]
				}
			},
			{
				"name": "Connect to AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kvasgrassdevaz1taznv102.vault.azure.net/secrets/all-rsit-svc-dbks/b6e37e6738674a4485ce680cfaa6dd3e?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Store PAT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Connect to AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PAT",
					"value": {
						"value": "@activity('Connect to AKV').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Job_ID": {
				"type": "string"
			},
			"ADB_URL": {
				"type": "string",
				"defaultValue": "https://adb-3157833405211586.6.azuredatabricks.net"
			},
			"Pipeline": {
				"type": "string",
				"defaultValue": "Manual"
			},
			"Notebook": {
				"type": "string",
				"defaultValue": "/Shared/CONNECTION/Prophet_DQC_Job_Details"
			},
			"LBU": {
				"type": "string",
				"defaultValue": "TH"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			},
			"PAT": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Databricks Jobs/CORE_PROPHET_DQC"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-10T12:47:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}