pipeline/CustomerLoanDisbursement_95_TO_Rawzone.json
{
	"name": "CustomerLoanDisbursement_95_TO_Rawzone",
	"properties": {
		"activities": [
			{
				"name": "Year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Year",
					"value": {
						"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC','India Standard Time'),-1),'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Month",
					"value": {
						"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC','India Standard Time'), 0),'MMMM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Day",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Day",
					"value": {
						"value": "@formatDateTime(adddays(convertTimeZone(utcnow(), 'UTC', 'India Standard Time'), 0),'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "95_TO_Rawzone",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "95_SERVER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Fesibilitytest_Container",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat('CustomerLoanDisbursementData/', variables('Year'), '/', variables('Month'), '/', variables('Day'), '/data.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Raw_TO_Synapse",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "95_TO_Rawzone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1test",
							"type": "LinkedServiceReference"
						},
						"path": "fesibilitytest/util/test"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoanAccountNumber",
									"type": "String"
								},
								"sink": {
									"name": "LoanAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerNumber",
									"type": "String"
								},
								"sink": {
									"name": "CustomerNumber",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Fesibilitytest_Container",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat('CustomerLoanDisbursementData/', variables('Year'), '/', variables('Month'), '/', variables('Day'), '/data.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalytics",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Feasibilitytest",
							"TableName": "CustomerLoanDisbursement_Test"
						}
					}
				]
			}
		],
		"variables": {
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			},
			"Day": {
				"type": "String"
			},
			"Tables": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-24T13:24:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}